@import "tailwindcss";

button {
    @apply font-bold py-2 px-4 rounded cursor-pointer;
}

button:disabled {
    @apply opacity-50 cursor-not-allowed;
}

button.primary {
    @apply bg-blue-500 text-white;
}

button.primary:hover {
    @apply bg-blue-700;
}

button.big {
    @apply text-2xl px-10 py-5;
}

button.secondary {
    @apply text-blue-500 font-semibold;
}

button.secondary:hover {
    @apply bg-blue-500 text-white;
}

label {
    @apply block mb-2 text-sm font-medium text-gray-900
}

input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5;
}

input:focus {
    @apply ring-blue-500 border-blue-500;
}

table {
    @apply text-sm text-left rtl:text-right text-gray-500;
}

thead {
    @apply font-semibold text-xs text-gray-700 uppercase bg-gray-50;
}

tr {
    @apply border-b border-gray-200;
}

tbody {
    @apply font-medium;
}

tbody > tr:nth-child(2n + 1) {
    @apply bg-white;
}

tbody > tr:nth-child(2n) {
    @apply bg-gray-50;
}

th, td {
    @apply px-6 py-3 whitespace-nowrap text-gray-900;
}

td:not(:first-child) {
    @apply text-gray-600
}

td a {
    @apply font-medium text-blue-600;
}

td a:hover {
    @apply underline;
}
