name: Build and Deploy

run-name: "${{ github.actor }} published a new release:  ${{ github.ref }}!"

on:
  release:
    types: [published]

jobs:
  build:
    name: Build Vite app
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Create .env file
        run: echo "VITE_API_BASE_URL=${{ secrets.VITE_API_BASE_URL }}" >> .env

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Upload production-ready build files
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ./dist

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ./dist

      - name: Cleanup old files
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ vars.SSH_HOST }}
          username: ${{ vars.SSH_USER }}
          key: ${{ secrets.SSH_KEY_WEBAPP_FRONTEND }}
          port: ${{ vars.SSH_PORT }}
          script: rm -rf /data/supercoop/app-pwa/*

      - name: Upload build to server
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ vars.SSH_HOST }}
          username: ${{ vars.SSH_USER }}
          key: ${{ secrets.SSH_KEY_WEBAPP_FRONTEND }}
          port: ${{ vars.SSH_PORT }}
          source: "./dist/*"
          target: "/data/supercoop/app-pwa/"
          strip_components: 1
